<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
          <div class="card">
            <div class="card-header card-header-icon card-header-rose">
              <div class="card-icon">
                <i class="material-icons">perm_identity</i>
              </div>
              <h4 class="card-title">Edit Profile -
                  <label class="bmd-label-floating">make changes to your profile</label>
              </h4>
            </div>
            <div class="card-body">
              <form>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label >First Name: </label>
                        <input type="text" placeholder="(FIRSTNAME)" class="form-control" id="name">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="bmd-label-floating">Last Name: </label>
                        <input type="text" placeholder="(LASTNAME)" class="form-control" id="surname">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Company Name: </label>
                          <input type="text" placeholder="(COMPANYNAME)" class="form-control" id="email">
                        </div>
                      </div>
                      <div class="col-md-4">
                          <label class="bmd-label-floating">Province: </label>
                          <mat-form-field>
                              <mat-select placeholder="Gauteng" name="province" id="province">
                                <mat-option *ngFor="let province of provinces" [value]="province.value">
                                  {{ province.value }}
                                </mat-option>
                              </mat-select>
                          </mat-form-field>
                      </div>
                    </div>

                <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="bmd-label-floating">Email Address: </label>
                        <input type="email" placeholder="(user@mail.com)" class="form-control">
                      </div>
                    </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Contact Number</label>
                      <input type="number" placeholder="(1234567890)" class="form-control" >
                    </div>
                  </div>
                </div>


                <button mat-raised-button type="submit" class="btn btn-rose pull-right">Update Profile</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  