<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
          <div class="card">
            <div class="card-header card-header-icon card-header-rose">
              <div class="card-icon">
                <i class="material-icons">perm_identity</i>
              </div>
              <h4 class="card-title">Create Guest -
                  <label class="bmd-label-floating">Create a new guest</label>
              </h4>
            </div>
            <div class="card-body">
              <form>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label >First Name: </label>
                        <input type="text" class="form-control" id="name">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="bmd-label-floating">Last Name: </label>
                        <input type="text" class="form-control" id="surname">
                      </div>
                    </div>
                  </div>

                <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="bmd-label-floating">Email Address: </label>
                        <input type="email"  class="form-control">
                      </div>
                    </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Contact Number</label>
                      <input type="number" class="form-control" >
                    </div>
                  </div>
                </div>


                <button mat-raised-button type="submit" class="btn btn-rose pull-right">Create Guest</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  