<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header card-header-rose card-header-text">
            <div class="card-text">
              <h4 class="card-title">Create Ticket</h4>
            </div>
          </div>
          <div class="card-body ">
            <form method="get" action="/" class="form-horizontal">
              <div class="row">
                <label class="col-sm-2 col-form-label">Event Name: </label>
                <div class="col-sm-10">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text">
                  </mat-form-field>
                </div>
              </div>
              <div class="row text-center col-sm-12">
                <h5 class="card-title ml-auto mr-auto"><b>Ticket Prices</b></h5>

              </div>
              <div class="row col-sm-12">
                
                <div class="col-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="number" placeholder="General">
                  </mat-form-field>
                </div>

                
                <div class="col-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="number" placeholder="VIP">
                  </mat-form-field>
                </div>

                
                <div class="col-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="number" placeholder="V.VIP">
                  </mat-form-field>
                </div>

              </div>

              <div class="card-footer text-center pull-right">
                <button mat-raised-button type="submit" class="btn btn-rose btn-fill">Create Ticket</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>